body {
    margin: 0;
    /* background-color: black; */
    background: black;
    color: #fff;
}

.container {
    margin-top: 5%;
}

#searchInput {
    width: 200px;
}

.col {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

.past-search-item {
    cursor: pointer;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.8);
}

#footer {
    color: grey;
    padding: 5px;
    font-size: 12px;
}

.main-data-container, #secondary-data-container {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    border-radius: 50px; 
    padding: 8px 16px; 
    margin: 5px; 
}

.parameter {
    font-weight: bold;
}

#memoryModal .modal-header,
#memoryModal .modal-footer {
    background-color: #d0d0d0;
    color: #222; 
}