body {
    margin: 0;
    background-color: black;
    color: #fff;
}

.container {
    margin-top: 1%;
}

#search-input {
    width: 25%;
}

.col {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}